# Open5GS Git version tag to pull and build from source (e.g., v2.7.2, v2.6.6)
OPEN5GS_VERSION=v2.7.2

# MongoDB Container Version & Authentication (Optional)
MONGODB_VERSION=6.0
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=

# Host Port Mappings (change these if running multiple stacks to prevent port collisions)
MONGODB_PORT=27017
AMF_NGAP_PORT=38412
UPF_GTPU_PORT=127.0.0.1:2152
WEBUI_PORT=9999

# Host Directory for Container Logs and Log Level Settings
LOGS_DIR=./logs
LOG_LEVEL=info

# 5G Core Network Settings
MCC=999
MNC=70
TAC=1
SST=1
SD=ffffff
DB_URI=mongodb://mongodb:27017/open5gs

# Subscriber Provisioning (set to true to auto-create subscribers in DB at boot)
PROVISION_SUBSCRIBERS=true

# User Equipment (UE) Network settings (Tunnel)
UE_SUBNET=10.45.0.0/16
UE_GATEWAY=10.45.0.1
